<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>Murugafinal</display-name>
	<servlet>
	<servlet-name>adminconfigureservlet</servlet-name>
	<servlet-class>university.adminconfigureservlet</servlet-class>
	
	</servlet>
        
        <servlet>
	<servlet-name>TestServlet</servlet-name>
	<servlet-class>TestServlet</servlet-class>
        </servlet>
	<servlet>
	<servlet-name>addstudentservlet</servlet-name>
	<servlet-class>university.addstudentservlet</servlet-class>
	
	</servlet>
	<servlet-mapping>
		<servlet-name>adminconfigureservlet</servlet-name>
		<url-pattern>/adminconfigureservlet</url-pattern>
	</servlet-mapping>
        <servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>addstudentservlet</servlet-name>
	<url-pattern>/addstudentservlet</url-pattern>
        </servlet-mapping>
        <servlet>
            <servlet-name>ReportServlet</servlet-name>
            <servlet-class>ReportServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>ReportServlet</servlet-name>
            <url-pattern>/ReportServlet</url-pattern>
        </servlet-mapping>

	<welcome-file-list>
                <welcome-file>home.html</welcome-file>
		<welcome-file>Adminindex.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>